@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-dark-bg {
    background-color: #121115;
  }
  .text-color-gold{
    color: #b09667;
  }
}

@layer base {
  body {
    font-family: 'Inknut Antiqua', serif;
  }
}