@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-dark-bg {
    background-color: #121115;
  }
  .text-color-gold{
    color: #b09667;
  }
  .bg-color-gold{
    background-color: #b09667 ;
  }
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
}

@layer base {
  body {
    font-family: 'Inknut Antiqua', serif;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}